* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*---------- Colors ----------*/
  /* Content */
  --content-primary: #ffffff;
  --content-secondary: #c7c9cc;
  --content-tertiary: #d9d9d9;
  --content-brand: #c58de7;
  --color-inverse: #030203;

  /* Background */
  --background-primary: #020202;
  --background-secondary: #111012;
  --background-tertiary: #24222e;
  --background-brand: #c58de7;
  --background-gray: #3d3d3d;

  /* Accent */
  --accent-pink: #d586e0;
  --accent-blue: #91a1fa;
  --accent-green: #77c0af;
  --accent-lime: #d1dc97;
  --accent-red: #e9a9b3;

  /* Gradient */
  --gradient-border: #77c0af 0%, #d1dc97 14.84%, #e9a9b3 32.15%, #d586e0 65.79%,
    #91a1fa 84.58%;
  --gradient-background: #d586e0 0%, #91a1fa 98.93%;
  --gradient-content: #c7c9cc 0%, #3d3d3d 100%;

  /*---------- Tipografia ----------*/
  /* Fonts */
  --ff-sora: "Sora", sans-serif;
  --ff-roboto-flex: "Roboto Flex", sans-serif;
  --ff-roboto-mono: "Roboto Mono", sans-serif;

  /* Sizes */
  --display-large: 800 4.5rem/1.3 var(--ff-sora);
  --display-medium: 800 2.5rem/1.3 var(--ff-sora);
  --display-small: 700 2rem/1.3 var(--ff-sora);
  --logo: 800 1.5rem/1.3 var(--ff-sora);

  --overline: 700 1rem/1.5 var(--ff-roboto-mono);
  --ff-inter: 400 0.75rem/1.5 "Inter", sans-serif;

  --paragraph-large: 500 1rem/1.5 var(--ff-roboto-flex);
  --paragraph-medium: 500 0.875rem/1.5 var(--ff-roboto-flex);
  --paragraph-small: 500 0.75rem/1.5 var(--ff-roboto-flex);
  --title-medium: 700 1.25rem/1.5 var(--ff-roboto-flex);
  --label-large: 700 1.25rem/1.5 var(--ff-roboto-flex);
  --label-medium: 700 1rem/1.5 var(--ff-roboto-flex);
  --label-small: 700 1rem/1.5 var(--ff-roboto-flex);

  /*---------- Margens ----------*/
  --px-base: 2rem;
}

body {
  background-color: var(--background-primary);
  background-image: url(/assets/background-image.jpg);
  background-size: cover;

  color: var(--content-primary);
}

a {
  font: inherit;
  text-decoration: none;
}

@media (width >= 80em) {
  :root {
    /*---------- Margens ----------*/
    --px-base: 8.5rem;
  }
}
