header {
  margin-top: 2.875rem;

  & span {
    font: var(--overline);
    background: linear-gradient(to right, #c7c9cc 50%, #3d3d3d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    text-transform: uppercase;
  }

  & h1 {
    margin-top: 0.5rem;
    font: var(--display-medium);
    color: var(--content-primary);

    text-transform: uppercase;
  }
}

@media (width >= 80em) {
  header {
    & h1 {
      font: var(--display-large);
    }
  }
}
