.logo {
  & img {
    transition: 0.3s ease-in-out;
  }

  & a {
    display: flex;
    justify-content: center;
    align-items: center;

    font: var(--logo);
    color: var(--content-primary);

    gap: 0.5rem;

    transition: 0.3s ease-in-out;

    &:hover {
      background: linear-gradient(to right, var(--gradient-border));
      background-size: 400%;
      background-position: 0% 200%;

      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      animation: borderMoviment 3s infinite;
    }

    &:hover img {
      animation: imgRotate 2s infinite;
    }
  }
}

@media (width >= 80em) {
  .logo {
    & a {
      justify-content: flex-start;
    }
  }
}

@keyframes borderMoviment {
  50% {
    background-position: 200% 100%;
  }
}

@keyframes imgRotate {
  to {
    transform: rotate(0deg);
  }

  from {
    transform: rotate(360deg);
  }
}
