.main {
  & .title-form {
    & h2 {
      font: var(--title-medium);
      color: var(--content-primary);
    }

    & p {
      margin-top: 0.2rem;
      font: var(--paragraph-medium);
      color: var(--content-tertiary);
    }
  }

  & form {
    margin-top: 2.5rem;

    & .cards {
      display: flex;
      align-items: center;

      text-align: center;

      gap: 0.75rem;

      & .card {
        height: 5.5rem;
        width: 5.313rem;

        & label {
          font: var(--label-medium);
          color: var(--content-secondary);

          text-transform: uppercase;
        }

        & input {
          height: 3.5rem;
          width: 5.5rem;

          background-color: var(--background-secondary);
          border: 2px solid transparent;
          border-radius: 0.5rem;
          outline: none;

          font: var(--display-small);
          color: var(--content-primary);
          text-align: center;

          transition: border 0.3s ease-in-out;

          &:hover,
          &:focus {
            /* fundo do input */
            background: linear-gradient(#24222e) padding-box,
              /* borda simulada */
                linear-gradient(
                  to right,
                  #77c0af 0%,
                  #d1dc97 14.84%,
                  #e9a9b3 32.15%,
                  #d586e0 65.79%,
                  #91a1fa 84.58%
                )
                border-box;
          }

          &::-webkit-inner-spin-button,
          &::-webkit-outer-spin-button {
            -webkit-appearance: none;
          }
        }
      }
    }
  }

  & .toggle {
    & label {
      height: 1.25rem;
      width: 1.875rem;

      position: relative;
      display: inline-block;

      font: var(--ff-inter);
      color: var(--content-primary);

      display: flex;
      align-items: center;

      background-color: purple;

      gap: 0.5rem;

      & .slider {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        border-radius: 1rem;

        background-color: blue;

        transition: background-color 0.4s;

        &::before {
          content: "";
          position: absolute;

          height: 0.875rem;
          width: 0.875rem;

          top: 3px;
          left: 2px;
          border-radius: 50%;

          background-color: red;
        }
      }

      & input {
        opacity: 0;
        width: 0;
        height: 0;
      }
    }
  }
}
