.main {
  & .title-form {
    & h2 {
      font: var(--title-medium);
      color: var(--content-primary);
    }

    & p {
      margin-top: 0.2rem;
      font: var(--paragraph-medium);
      color: var(--content-tertiary);
    }
  }

  & form {
    margin-top: 2.5rem;

    & .cards {
      display: flex;
      align-items: center;

      text-align: center;

      gap: 0.75rem;

      & .card {
        height: 5.5rem;
        width: 5.313rem;

        & label {
          font: var(--label-medium);
          color: var(--content-secondary);

          text-transform: uppercase;

          &:hover {
            color: var(--content-brand);
          }
        }

        & input {
          margin-top: 0.5rem;
          height: 3.5rem;
          width: 5.5rem;

          background-color: var(--background-secondary);
          border: 2px solid transparent;
          border-radius: 0.5rem;
          outline: none;

          font: var(--display-small);
          color: var(--content-primary);
          text-align: center;

          transition: all border 0.3s ease-in-out;

          &:hover,
          &:focus {
            background: linear-gradient(var(--background-tertiary)) padding-box,
              linear-gradient(to right, var(--gradient-border)) border-box;

            background-size: 400%;
            background-position: 0 50%;

            animation: borderMoviment 1.5s infinite;
          }

          &::-webkit-inner-spin-button,
          &::-webkit-outer-spin-button {
            -webkit-appearance: none;
          }
        }
      }
    }
  }

  & .toggle {
    margin-top: 1.25rem;
    font: var(--ff-inter);
    color: var(--content-primary);

    display: flex;
    align-items: center;
    gap: 0.5rem;

    & label {
      height: 1.25rem;
      width: 1.875rem;

      position: relative;
      display: inline-block;

      display: flex;
      align-items: center;

      gap: 0.5rem;

      & .slider {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        border-radius: 1rem;

        background: linear-gradient(
          to right,
          var(--content-tertiary) 0%,
          var(--content-primary) 100%
        );

        transition: background-color 0.4s;

        &::before {
          content: "";
          position: absolute;

          height: 0.875rem;
          width: 0.875rem;

          top: 3px;
          left: 2px;
          border-radius: 50%;

          background-color: var(--content-primary);
        }
      }

      & input {
        opacity: 0;
        width: 0;
        height: 0;

        transition: 0.3s ease-in-out;

        &:checked + .slider {
          background: linear-gradient(to right, var(--gradient-background));
        }

        &:checked + .slider::before {
          transform: translateX(0.725rem);
        }
      }
    }
  }

  & button {
    margin-top: 2.5rem;
    height: 3.5rem;
    width: 100%;

    background-color: var(--background-tertiary);
    font: var(--label-medium);
    color: var(--content-primary);

    border: 2px solid transparent;
    border-radius: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    text-transform: uppercase;
    cursor: pointer;

    transition: border 0.3s ease-in-out;

    &:hover,
    &:focus {
      background: linear-gradient(var(--background-secondary)) padding-box,
        linear-gradient(45deg, var(--gradient-border)) border-box;

      background-size: 400%;
      background-position: 0 50%;

      animation: borderMoviment 1.5s ease-in-out infinite;
    }

    &:hover img,
    &:focus img {
      animation: arrowMoviment 1.5s ease-in-out infinite;
    }
  }
}

@keyframes borderMoviment {
  50% {
    background-position: 100% 50%;
  }
}

@keyframes arrowMoviment {
  0% {
    transform: translateX(0rem);
  }

  50% {
    transform: translateX(0.5rem);
  }

  100% {
    transform: translateX(0);
  }
}
